---
---

@charset "utf-8";

html, body {
  height: 100%;
  width: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Titillium Web', sans-serif !important;
}

img {
  max-width: 100%;
}

h1 {
  margin-bottom: 1.5rem;
}

.card, .list {

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem;

    .title {
      margin-bottom: 0;
      margin-top: 2px;
      margin-right: 1rem;
    }

    button {
      margin-left: auto;

      i {
        margin-right: -4px;
      }
    }

    >i {
      font-size: 80%;
      margin-top: 5px;
      margin-left: 1rem;
      color: #d0d0d0;
    }
  }
}

.card {

  .header {

    .title {
      font-size: 1rem;
      font-weight: bold;
      margin: 0;
    }

  }

  .body {
    padding: 1rem;
  }

  .image {
    position: relative;

    img {
      display: block;
      width: 100%;
      min-height: 1rem;
    }

    &:first-child {
      img {
        border-top-right-radius: .25rem;
        border-top-left-radius: .25rem;
      }
    }

    &:last-child {
      img {
        border-bottom-right-radius: .25rem;
        border-bottom-left-radius: .25rem;
      }
    }

    figcaption {
      color: #d0d0d0;
      font-size: 0.7rem;
      position: absolute;
      bottom: 5px;
      right: 5px;
    }
  }
}

.list {

  .item {
    border-bottom: 1px solid #d0d0d0;
    &:first-child {
      border-top: 1px solid #d0d0d0;
    }
  }

  a {
    color: inherit;
    &:hover, &:active, &:focus {
      text-decoration: none;
    }
  }

  .header {

    border-bottom: 1px solid #cdcdcd;

    .title {
      font-size: 1.5rem;
    }

    &:last-child {
      border-bottom: none;

      h1 {
        font-size: 1rem;
        font-weight: bold;
      }
    }

    &:hover {
      background-color: #f4f4f4;
    }
  }

  .body {
    padding: 1rem;

    :last-child {
        margin-bottom: 0;
      }
  }
}

// LAYOUT

main {
  padding: 1rem;

  >aside, >section, >header {
    margin: 2rem 0;
  }

  .list {
    margin: 2rem -1rem;
  }
}

.map-container {
  height: 30%;
  width: 100%;

  .angular-leaflet-map {
    height: 100%;
    width: 100%;
  }
}

@media only screen and (min-width: 48.75em) {

  body {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;
  }

  .main-container {
    order: 1;
    flex: 0 0 40%;
    max-width: 30rem;
    min-width: 25rem;
    overflow-y: auto;
  }

  .map-container {
    order: 2;
    height: 100%;
  }

}
