---
---

@charset "utf-8";

// Project colors

{% for project in site.projects %}
.alert-{{ project.slug }},
.{{ project.slug }} {
  a, i {
    color: {{ project.color }}
  }

  .btn-primary {
    background-color: {{ project.color }};
  }

  .badge-primary,
  &.badge-primary {
    background-color: {{ project.color }};
  }
}

.alert-{{ project.slug }} {
  background-color: lighten({{ project.color }}, 30%);
  border-color: lighten({{ project.color }}, 10%);
}

  {% for collection in site.collections %}
  {% if collection.label == project.slug %}
    {% assign articles = collection.docs | sort:"position" %}
    {% for article in articles %}
      .{{ article.slug }} {
        a, i {
          color: {{ article.color | default: project.color }};
        }

        .btn-primary {
          background-color: {{ article.color | default: project.color }};
        }

        .badge-primary,
        &.badge-primary {
          background-color: {{ article.color | default: project.color }};
        }
      }
    {% endfor %}
  {% endif %}
  {% endfor %}


{% endfor %}

html, body {
  height: 100%;
  width: 100%;
}

body, h1, h2, h3, h4, h5, h6, .leaflet-container {
  font-family: 'Titillium Web', sans-serif !important;
}

img {
  max-width: 100%;
}

figcaption, img+strong {
  color: #d0d0d0;
  font-size: 0.7rem;
  position: absolute;
  bottom: 0.4rem;
  right: 0.4rem;
  font-weight: normal;
}

h1 {
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

p {
  position: relative;
  line-height: 1.8;

  +h1, +h2, +h3 {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }

  >img {
    margin-bottom: 0.5rem;
    +strong {
      bottom: 0.9rem;
    }
  }
}

.alert {
  margin: 1rem;

  .alert-options {
    .btn {
      margin: 0.5rem;
    }
  }
}

.btn {
  color: white;
  background-color: #cdcdcd;
  border: none;

  i {
    color: white;
  }

  &:focus,
  &:active {
    outline: none;
  }
}

.btn-link {
  background: none;
}

.badge {
  display: block;
  height: 1.8rem;
  width: 1.8rem;

  padding: 0;

  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1.8rem;

  color: #fff;
  text-align: center;
  white-space: nowrap;
  border-radius: .9rem;

  color: white;
  background-color: #cdcdcd;

  &.inactive {
    opacity: 0.4;
    -webkit-transform: scale(0.7, 0.7);
  }

  &.playing {

    -webkit-animation: pulsate 1.5s ease-out;
    -webkit-animation-iteration-count: infinite; 
    box-shadow: 0px 0px 0px 0px;
    overflow: visible;
    .leaflet-marker-icon & {
      z-index: 1000 !important;
    }

    @-webkit-keyframes pulsate {
      0% {
        -webkit-transform: scale(0.3, 0.3);
        opacity: 0;
      }
      50% {
        opacity: 1.0;
      }
      100% {
        -webkit-transform: scale(1.0, 1.0);
        opacity: 0;
      }
    }
  }

  &.all {
    -webkit-transform: scale(0.5, 0.5);

    span {
      display: none;
    }
  }
}

.header,
nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;

  img {
    max-height: 2.5rem;
    margin: -1.25rem 0.75rem -1.25rem 0;
  }

  a {
    padding-right: 1rem;
  }

  .badge {
    margin-left: -0.5rem;
    margin-right: 0.75rem;
    font-weight: normal;
    flex: 0 0 auto;
  }

  a, h1, h2, h3 {
    + play-button,
    + .badge {
      margin-left: auto;
    }
  }

  h1, h2, h3 {
    margin: 0;
    margin-right: 0.5rem;
  }

  play-button {
    margin-right: 0.5rem;
    width: 3rem;
    flex: 0 0 auto;
  }

  >i {
    font-size: 80%;
    color: #d0d0d0;

    position: absolute;
    top: 53%;
    transform: translateY(-50%);
    right: 1rem;
  }

  +.author {
    margin-top: -1.5rem;
  }
}

.card {

  .header {

    padding: 1rem;

    .title {
      font-size: 1rem;
      font-weight: bold;
      line-height: 1.5;
      margin: 0;
    }

    button {
      margin-right: 0;
    }

  }

  .body {
    padding: 1rem;
  }

  .image {
    position: relative;

    img {
      display: block;
      width: 100%;
      min-height: 1rem;
    }

    &:first-child {
      img {
        border-top-right-radius: .25rem;
        border-top-left-radius: .25rem;
      }
    }

    &:last-child {
      img {
        border-bottom-right-radius: .25rem;
        border-bottom-left-radius: .25rem;
      }
    }
  }
}

.list {

  .item {
    border-bottom: 1px solid #d0d0d0;
    &:first-child {
      border-top: 1px solid #d0d0d0;
    }
  }

  a {
    color: inherit;
    &:hover, &:active, &:focus {
      text-decoration: none;
    }
  }

  .header {

    border-bottom: 1px solid #cdcdcd;

    .title {
      font-size: 1.5rem;
    }

    &:last-child {
      border-bottom: none;

      h1 {
        font-size: 1rem;
        font-weight: bold;
      }
    }

    &:hover {
      background-color: #f4f4f4;
      cursor: pointer;
    }
  }

  .body {
    padding: 1rem;

    :last-child {
        margin-bottom: 0;
      }
  }
}

.partners {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  a {
    max-width: 130px;
  }

  img {
    padding: 1rem;
    width: 100%;
    height: auto;

    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    &:hover {
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
    }
  }
}

// LAYOUT

main {

  .main-content {
    padding: 2rem;
    background-color: white;

    >aside, >section, >header,
    article>aside, article>section, article>header {
      margin: 2rem 0;
    }

    nav {
      margin-left: -0.5rem;
      margin-right: -0.5rem;

      + header,
      + article > header {
        margin-top: 3rem;
      }
    }

    .list {
      margin: 2rem -2rem;

      .header, .body {
        padding: 1rem 2rem;
      }
    }

    .card {
      margin: 1rem -0.5rem;
    }
  }
}


// Main layout

.main-container {

  main {
    padding-top: 200px;
    pointer-events: none;
    .main-content {
      pointer-events: auto;
      position: relative;
    }
  }
}

.map-container {
  height: 220px;
  width: 100%;
  position: fixed;

  .angular-leaflet-map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .leaflet-control-container {
      display: none;
    }
  }
}

@media only screen and (min-width: 48.75em) {

  body {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;
  }

  .main-container {
    order: 1;
    flex: 0 0 45%;
    max-width: 41rem;
    min-width: 25rem;
    overflow-y: auto;
    main {
      padding-top: 0;
    }
  }

  .map-container {
    order: 2;
    height: 100%;
    position: relative;

    .angular-leaflet-map {

      .leaflet-control-container {
        display: block;
      }
    }

  }
}

// Spinning Icons
// --------------------------

.fa-spin {
  -webkit-animation: fa-spin 3s infinite linear;
          animation: fa-spin 3s infinite linear;
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}