---
layout: app
---

<div class="main-content">
  <header>
    <h1>{{ site.title | escape }}</h1>
  </header>

  <section class="list">
    {% assign projects = site.projects | sort:"position" %}
    {% for project in projects %}

    <article class="item {{ project.slug }}">
      <div class="header" ng-click="goTo('{{ project.slug }}')">
        {% if project.logo-image %}
        <img src="{{ project.logo-image }}"></img>
        {% endif %}
        <h1 class="title">{{ project.title | escape }}</h1>
        <play-button project-id="{{ project.slug }}"></play-button>
        <i class="fa fa-right"></i>
      </div>
      <div class="body">{{ project.teaser | markdownify }}</div>
    </article>

    {% endfor %}
  </section>
</div>
