<script type="text/ng-template" id="projects/{{ project.slug }}.html">
  <div class="main-content">
    <nav class="{{ project.slug }}">
      <a ui-sref="home">
        <i class="fa fa-back"></i>
        {{ site.title | newline_to_br }}
      </a>
      <play-button play-next-scope="project" project-id="{{ project.slug }}"></play-button>
    </nav>

    <header class="header {{ project.slug }}">
      {% if project.logo-image %}
      <img src="{{ project.logo-image }}"></img>
      {% endif %}
      <h1>{{ project.title | newline_to_br }}</h1>
    </header>

    {% if project.teaser %}
    <section>{{ project.teaser | markdownify }}</section>
    {% endif %}

    {% for collection in site.collections %}
    {% if collection.label == project.slug %}
    <section class="list">
      {% assign articles = collection.docs | sort:"position" %}
      {% for article in articles %}
        <article class="item {{ article.slug }}">
          <div class="header {% if article.teaser.size > 1 or article.content.size > 1 %}hover{% endif %}"
              ng-click="{% if article.teaser.size > 1 or article.content.size > 1 %}goTo('{{ project.slug }}', '{{ article.slug }}'){% endif %}">
            <div class="badge badge-primary">
              <span ng-bind="{{ article.position }} | toLetter "></span>
            </div>
            <h1 class="title">{{ article.title | newline_to_br }}</h1>
            <play-button play-next-scope="project" project-id="{{ project.slug }}" article-id="{{ article.slug }}"></play-button>
            <i ng-if="articles.length > 1" class="fa fa-right"></i>
            {% if article.teaser.size > 1 or article.content.size > 1 %}
              <i class="fa fa-right"></i>
            {% endif %}
          </div>
          {% if article.teaser %}
            <div class="body">{{ article.teaser | markdownify }}</div>
          {% endif %}
        </article>
      {% endfor %}
    </section>
    {% endif %}
    {% endfor %}

    <section class="{{ project.slug }}">
      {{ project.content | markdownify }}
    </section>
    <section class="{{ project.slug }} partners">
      {% for partner in project.partners %}
        <a alt="{{ partner.name }}" href="{{ partner.url }}" style="max-width: {{ partner.max-width }}"><img alt="{{ partner.name }}" src="{{ partner.logo-image }}"></a>
      {% endfor %}
    </section>
  </div>
</script>
