<div class="main-content">

  {% for project in site.projects %}
  {% if project.slug == page.collection %}
  {% assign project_slug = project.slug %}
  <nav class="{{ project.slug }}">
    <a ui-sref="project({ projectId: '{{ page.collection }}' })">
      <i class="fa fa-back"></i>
      {{ project.title }}
    </a>
  </nav>
  {% endif %}
  {% endfor %}

  <article>

    <header class="header {{ page.slug }}">
      <h1>{{ page.title | escape }}</h1>
      <div class="badge badge-primary">
        <span ng-bind="{{ page.position }} | toLetter"></span>
      </div>
      <button class="btn btn-primary" ng-click="playPause('{{ project_slug }}', '{{ page.slug }}')">
        <i class="fa" ng-class="{'fa-play':!isPlaying('{{ project_slug }}', '{{ page.slug }}'), 'fa-pause':isPlaying('{{ project_slug }}', '{{ page.slug }}')}"></i>
      </button>
    </header>

    {% if page.teaser %}
      <section>
        {{ page.teaser | markdownify }}
      </section>
      {% if page.coords %}
        <hr>
      {% endif %}

    {% endif %}

    <aside class="{{ page.slug }}">
      {% assign i = 0 %}
      {% for location in page.locations %}

      <div class="card">
        <div class="header">
          <h1 class="title"><span>{{ location.title }}</span></h1>
          <button class="btn btn-primary" ng-click="playPause('{{ project_slug }}', '{{ page.slug }}', {{ i }})">
            <i class="fa" ng-class="{'fa-play':!isPlaying('{{ project_slug }}', '{{ page.slug }}', {{ i }}), 'fa-pause':isPlaying('{{ project_slug }}', '{{ page.slug }}', {{ i }})}"></i>
          </button>
        </div>
        {% if location.image %}
          {% if location.image.file %}
          <div class="image">
            <img src="{{ location.image.file }}" />
            <figcaption>{{ location.image.credit }}</figcaption>
          </div>
          {% endif %}
        {% endif %}
      </div>
      {% assign i = i | plus: 1 %}
      {% endfor %}
    </aside>

    <section class="{{ project_slug }}">
      {{ page.content | markdownify }}
    </section>
  </article>
  
</div>
