<header>

  <h1>{{ page.title | escape }}</h1>
  {% if page.teaser %}
    {{ page.teaser | markdownify }}
  {% endif %}

  {% unless page.locations %}
    <button class="btn btn-primary btn-block"><i class="fa fa-play"></i></button>
  {% endunless %}

</header>

<section>
  {% unless page.teaser %}
    {{ page.content | markdownify }}
  {% endunless %}
</section>

{% if page.featured_image %}
    <img src="{{ page.featured_image.file }}" />
{% endif %}

<aside>
  {% for location in page.locations %}

  <div class="card">
    <div class="header">
      <h1 class="title"><span>{{ location.title }}</span></h1>
      <button class="btn btn-primary"><i class="fa fa-play"></i></button>
    </div>
    {% if location.image %}
      <div class="image">
        <img src="{{ location.image.file }}" />
        <figcaption>{{ location.image.credit }}</figcaption>
      </div>
    {% endif %}
  </div>

  {% endfor %}
</aside>

{% if page.teaser %}
  <section>
    {{ page.content | markdownify }}
  </section>
{% endif %}
