<header>
  <h1>{{ page.title | escape }}</h1>
  <div>{{ page.teaser | markdownify }}</div>
  <button class="btn btn-primary btn-block"><i class="fa fa-play"></i></button>
</header>

{% for collection in site.collections %}
{% if collection.label == page.slug %}
<section class="list">
  {% assign articles = collection.docs | sort:"position" %}
  {% for article in articles %}
    <article class="item">
      <a class="header" ui-sref="project.article({articleId: '{{ article.slug }}'})">
        <div class="badge badge-primary">{{ article.position }}</div>
        <h1 class="title">{{ article.title | escape }}</h1>
        <button class="btn"><i class="fa fa-play"></i></button>
        <i class="fa fa-right"></i>
      </a>
      {% if article.teaser %}
        <div class="body">{{ article.teaser | markdownify }}</div>
      {% endif %}
    </article>
  {% endfor %}
</section>
{% endif %}
{% endfor %}

<section>
  {{ page.content | markdownify }}
</section>
