<header>
  <h1>{{ page.title | escape }}</h1>
  <div>{{ page.teaser | markdownify }}</div>
</header>

{% for collection in site.collections %}
{% if collection.label == page.slug %}
<section class="list">
  {% assign articles = collection.docs | sort:"position" %}
  {% for article in articles %}
    <article class="item">
      <a class="title" ui-sref="project.article({articleId: '{{ article.slug }}'})">
        <h1>{{ article.title | escape }}</h1><i class="fa fa-chevron-right"></i>
      </a>
      {% if article.teaser %}
        <div class="body">{{ article.teaser | markdownify }}</div>
      {% endif %}
    </article>
  {% endfor %}
</section>
{% endif %}
{% endfor %}

<section>
  {{ page.content | markdownify }}
</section>
